#ishikawa_head,
#ishikawa_tail  {
 height: 100%;
 margin: 0;
 overflow: auto;
}

.extremos {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#ishikawa_center  {
    width: 100%;
    padding: 0;
}

.add_column {
    width: 3em;
    padding:0;
}

.add_line {
    text-align: center;
}

.right {
    text-align: right;
    margin-right: 3em;
}

td.block {
    border: 1px solid black;
    padding: 1em;
    border-collapse: collapse;
}

table {
    margin: 0;
    padding: 0;
}
